@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --background: white;
  --details: #80b192;
  --detailsLetter: #f5f5f5;
  --boxandText: gray;
  --letterNav: black;
}

.navuser {
  border: none;
  background-color: transparent;
}

.navuser a {
  font-family: "Poppins";
  font-size: 16px;
  color: var(--letterNav);
}

.navuser a:hover {
  color: var(--details);
}
