@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --background: white;
  --details: #80b192;
  --detailsLetter: #f5f5f5;
  --boxandText: gray;
  --letterNav: black;
}

.logoContainer {
  display: block;
  margin: 0 auto;
  text-align: center;
  pointer-events: none;
}

.logoContainer img {
  display: block;
  pointer-events: auto;
}

.logoForm {
  width: 70vw;
  text-align: center;
}

.navegacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: var(--background);
}

.navegacion > *:not(:last-child) {
  margin-right: 20px;
}

.Rmenu a {
  font-family: "Poppins";
  font-size: 16px;
  color: var(--letterNav);
}

.Rmenu a:hover {
  color: var(--details);
}
