@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --background: white;
  --details: #80b192;
  --detailsLetter: #f5f5f5;
  --boxandText: gray;
  --letterNav: black;
}

.rTexts {
  border: none;
  margin: 0 10px;
}

.photoR {
  width: 100vw;
}

.rTitle {
  margin-top: 60px;
  font-size: 24px;
  font-family: "Inter";
  text-transform: uppercase;
  color: var(--letterNav);
}

.userv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rUser {
  font-size: 16px;
  font-family: Poppins;
  color: var(--letterNav);
}

.date {
  font-size: 12px;
  margin: 15px auto;
}

.rPlaceCat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rCategory {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 8px;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.formR {
  position: relative;
}

.formR form {
  position: absolute;
  top: 100%;
  left: 0;
}

.commentR {
  border: none;
  background: none;
}

.inputComment {
  display: flex;
  width: 80vw;
  margin: auto;
  border: none;
  border-bottom: 1px solid gray;
}

.formvote {
  display: flex;
  flex-direction: row-reverse;
  width: 250px;
  margin: 0 auto;
  height: 50px;
  order: 1;
}
.formvote p {
  text-align: center;
}
.formvote label {
  font-size: 20px;
}

.formvote input[type="radio"] {
  display: none;
}
.formvote label {
  color: grey;
}
.formvote label:hover,
.formvote label:hover ~ label {
  color: orange;
}
.formvote input[type="radio"]:checked ~ label {
  color: orange;
}

.comments {
  margin: 50px auto 10px 15px;
  font-size: 20px;
  font-family: "Inter";
  text-transform: uppercase;
  color: var(--letterNav);
}

.removeRec {
  margin-right: 30vw;
  width: 40vw;
  height: 30px;
  border: none;
  border-radius: 8px;
  font-family: "Poppins";
  background: var(--details);
  color: var(--detailsLetter);
}

@media (min-width: 768px) {
  .recommendationpage {
    width: 60vw;
    margin: 0 auto;
  }

  .rTitle {
    margin-top: 60px;
    font-size: 40px;
    font-family: "Inter";
    text-transform: uppercase;
    color: var(--letterNav);
  }

  img.photoR {
    width: 60vw;
    margin: 0 auto 0 auto;
  }

  .formContainer {
    width: 60vw;
  }

  .inputComment {
    width: 60vw;
  }
}
