@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --background: white;
  --details: #80b192;
  --detailsLetter: #f5f5f5;
  --boxandText: gray;
  --letterNav: black;
}

.userPage {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.imgProfile {
  width: 140px;
  height: 140px;
  margin: 20px;
}

.userDates {
  display: flex;
  flex-direction: column;
  /* margin: 15px auto 15px 20px; */
}

.nameProfile {
  font-size: 24px;
  font-family: "Poppins";
  color: var(--details);
  margin: 15px 0 0 0;
}

.bioProfile {
  margin: 10px 0 0 0;
}

.h1profile {
  margin: 15px 0 0 0;
  font-size: 24px;
  font-family: "Inter";
  color: var(--letterNav);
  text-transform: uppercase;
}
